/* custom property color */
:root {
    --clr-neutral-900: hsl(0, 0%, 92%);
    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-accent-400: hsl(234, 100%, 50%);
}

html,
body.home {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 15px;
    font-family: monospace;
}


body.course {
    display: grid;
    min-height: 100vh;
    line-height: 1.6;
    background: var(--clr-neutral-900);
    font-family: sans-serif;
    min-height: 100vh;
    justify-items: center;
}

h1 {
    color: white;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #0080BE;
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
    border-bottom: 1px solid #008be0;
    box-shadow: 0 0 3rem rgb(0, 4, 255); 
}

header .logo {
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: bolder;
    text-decoration: none;

}


header,
header nav{
    width: 100%;
    
}

header nav{
flex-wrap: wrap;  

    
}

header nav,
header nav ul,
header nav ul > li{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin:0;
    padding:0;
    
}

header nav ul{
    list-style-type: none;
    
}

header nav ul > li{
    position: relative;
    
}

header nav ul > li:hover ul{
    top: 100%;
}

header nav ul li a,
header nav ul li a:visited {
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
    color: #ffffff;
    text-decoration: none;
}

header nav ul li a:hover{
    color:#00aeef;
}


header nav ul > li > ul{
    position: absolute;
    top: -300%;
    left:0;
    flex-direction: column;
    align-items: stretch;
    box-shadow: 0 .5rem .3rem 0 rgb(0, 0, 0);
    transition: top .5s ease;
    z-index: -1;
    
}

header nav ul > li > ul >li > a{
    width: 100%;
    background-color: black;
    border-bottom: 1px solid #bbb;
    white-space:nowrap;
}






header .icons i,
header .icons a {
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color: var(--black);
    border-radius: 50%;
    background: #eee;
}

header .icons i:hover,
header .icons a:hover {
    color: #fff;
    background: var(--green);
    transform: rotate(360deg);
}

#section-landing {
    background: url('../img/banner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.wrapper-landing {
    position: relative;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    top: 40%;
}

.wrapper-landing h1 {
    font-size: 4rem;
    text-shadow: 0 0 5px #0080BE, 0 0 15px #0080BE, 0 0 20px #0080BE, 0 0 40px #0080BE, 0 0 60px #0080BE, 0 0 10px #0080BE, 0 0 98px #0080BE;
    color: #0080BE;
    font-family: "Sacramento", cursive;
    text-align: center;
    animation: blink 12s infinite;
    -webkit-animation: blink 12s infinite;
}

@-webkit-keyframes blink {

    20%,
    24%,
    55% {
        color: #111;
        text-shadow: none;
    }

    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {

        text-shadow: 0 0 5px #0080BE, 0 0 0080BE #0080BE, 0 0 20px #0080BE, 0 0 40px #0080BE, 0 0 60px #0080BE, 0 0 10px #0080BE, 0 0 98px #0080BE;
        color: #0080BE;
    }
}

@keyframes blink {

    20%,
    24%,
    55% {
        color: #111;
        text-shadow: none;
    }

    19%,
    21%,
    25%,
    54%,
    56%,
    100% {

        text-shadow: 0 0 5px #0080BE, 0 0 15px #0080BE, 0 0 20px #0080BE, 0 0 40px #0080BE, 0 0 60px #0080BE, 0 0 10px #0080BE, 0 0 98px #ff0000;
        color: #ffffff;
    }
}

.wrapper-landing h2 {
    font-size: 2.625rem;
    color: #f2f2f2;
    opacity: 0.6;
    margin: 0;
    font-weight: 100;
}

.btn-login {
    border: 0.063rem solid #ffffff;
    padding: 0.375rem 1.5rem;
}

.sec-home {
    position: relative;
    padding: 100px;
    background: rgb(68, 68, 68);
    justify-content: center;
    align-items: center;
}

#projects .projects {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}

#projects .projects-header h1 {
    margin-bottom: 10rem;
    text-align: center;
    font-size: 4rem;
    font-style: oblique;
    letter-spacing: 0.1em;
    color: #fff;
    outline: #000;
}

#projects .all-projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#projects .project-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}

#projects .project-info {
    padding: 30px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    color: white;
    width: 100%;
    color: #fff;
    background: linear-gradient(-45deg, #1f1e1e, #6b6b6b, #969696, #1f1e1e);
    position: relative;
    background-size: 300% 300%;
    animation: change 3s ease-in-out infinite;
    background-repeat: repeat-y;


}

@keyframes change {
    0% {

        background-position: 0 50%;

    }

    50% {

        background-position: 100% 50%;
    }

    100% {

        background-position: 0% 50%;

    }
}

#projects .project-info h1 {
    font-size: 5rem;
    font-weight: 500;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);

}

#projects .project-info h2 {
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 10px;
}

#projects .project-info p {
    color: white;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    font-size: 1rem;
}

#projects .project-img {
    flex-basis: 50%;
    width: 50%;
    height: 50%;
    overflow: hidden;
    position: relative;
}

#projects .project-img:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 50%;
    width: 50%;

}

#projects .project-img img {
    transition: 0.5s ease transform;
    width: 100%;
    height: 100%;
}

#projects .project-item:hover .project-img img {
    transform: scale(1.1);
}

#projects .project-item {
    flex-direction: row;
}

#projects .project-item:nth-child(even) {
    flex-direction: row-reverse;
}

#projects .project-item {
    height: 400px;
    margin: 0;
    width: 100%;
    border-radius: 0;
}

#projects .all-projects .project-info {
    height: 100%;
}

#projects .all-projects .project-img {
    height: 100%;
    width: 100%;
}

.sec-map {
    position: relative;
    padding: 100px;
    background: #00639C;
    justify-content: center;
    align-items: center;
    display: flex;
}

footer {
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    padding-top: 40px;
    color: #fff;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;

    border-radius: 50%;

}

.socials a i {
    font-size: 1.1rem;
    width: 20px;


    transition: color .4s ease;

}

.socials a:hover i {
    color: aqua;
}

.footer-bottom {
    background: #000;
    padding: 20px;
    padding-bottom: 40px;
    text-align: center;
}

.footer-bottom p {
    float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom p a {
    color: #44bae8;
    font-size: 16px;
    text-decoration: none;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

.footer-menu {
    float: right;

}

.footer-menu ul {
    display: flex;
}

.footer-menu ul li {
    padding-right: 10px;
    display: block;
}

.footer-menu ul li a {
    color: #cfd2d6;
    text-decoration: none;
}

.footer-menu ul li a:hover {
    color: #27bcda;
}

@media (max-width:500px) {
    .footer-menu ul {
        display: flex;
        margin-top: 10px;
        margin-bottom: 20px;
    }
}

iframe {
    border-radius: 30px;
    width: 100rem;
    height: 40rem;
}

.card {
    color: var(--clr-neutral-100);
    background-image: url(../img/systems_and_devices.jpg);
    background-size: cover;
    padding: 10rem 0 0;
    max-width: 19rem;
    max-height: 20rem;
    border-radius: 0.5rem;
    transition: transform 500ms ease;
    margin-right: 5px;

}

.course{
    justify-items: stretch;
}

.card-content {
    --padding: 1.5rem;
    padding: var(--padding);
    background: linear-gradient(rgba(0, 4, 255, 0),
            rgb(0, 0, 0) 30%,
            rgb(0, 0, 0));
    transform: translateY(65%);
    max-width: 19rem;
}

.card:hover {
    transform: scale(1.05);
}

.card-title {
    position: relative;
    width: max-content;
}

.card-title::after {
    content: "";
    position: absolute;
    height: 4px;
    left: calc(var(--padding) * -1);
    bottom: 0;
    width: calc(100% + var(--padding));
    background: rgb(42, 52, 150);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 500ms ease;
}

.card:hover .card-title::after {
    transform: scaleX(1);
}

.button {
    cursor: pointer;
    display: inline;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(42, 52, 150);
    padding: 0.5em 1.25em;
    border-radius: 0.5em;
}

.button:hover,
.button:focus {
    background-color: rgb(42, 52, 150);
}

body.form {
    font: 14px sans-serif;
}

.wrapper-credentials {
    width: 30vw;
    padding: 1.5rem;
}

.welkom {
    padding: 1.5rem;
}


  .projectcard-text{
      min-height: 8em;
  }
  section{
      width: 100%;
      height: auto;
      color: #fff;
      position: relative;
      background-size: 300% 300%;
      animation: change 4s ease-in-out infinite;
      
      
       }
      
      
       @keyframes change {
           0%{
      
             background-position: 0 50%;
      
       }
           
           50%{
      
             background-position: 100% 50%;
       }
           100%{
      
             background-position: 0% 50%;
      
           }
       }    
  
       h5.projectcard-title{
           color: black;
           font-size: 3rem;
           text-shadow: 1px 1px 2px black;
  
       }
       p.projectcard-text{
           color: rgb(0, 0, 0);
           text-shadow: 0 0 3px #ffffff, 0 0 3px #000000;
           font-size: 1.5rem;
       }
       .projectcard{
          box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
          background: rgb(203, 203, 209);  
          margin-top: 1.5rem;
     }
  
     .projectheader{
         padding: 1%;
         text-align:center;
         background:#0080BE;
         box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
        
     }
     h1.projecttext1{
         color: white;
         text-shadow: rgb(0, 0, 0) 1px 0 5px;
         font-size:4rem;
         font-style:monospace;
         
     }
     p.projecttext2{
         color: ivory;
         text-shadow: 1px 1px 2px black;
         font-size: 3rem;
  
     }
  
     #projectcontainer-header{
      width: 100%;
      position: relative;
      overflow: hidden;
  }
  
  
  @keyframes anim9{
      from{
          right:-100%;
      }
      to{
          right:0%;
      }
    }
  
    #projectcontainer-box{
      position: relative;
      left:-100%;
      animation: anim3 1s forwards 0.5s;
      font-family: monospace;
      overflow: hidden;
      
      }
      
      @keyframes anim3{
          form{
              left:-100%;
          }
          to{
              left:0%
          }
      }
      
      .wrapper {
          height: 10vh;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        
        .typing-demo {
          width: 52ch;
          animation: typing 5s steps(40), blink .10s step-end infinite alternate;
          white-space: nowrap;
          overflow: hidden;
          border-right: 1px solid;
          font-family: monospace;
          font-size: 2em;
        }
        
        @keyframes typing {
          from {
            width: 0
          }
        }
            
        @keyframes blink {
          50% {
            border-color: transparent
          }
        }