:root {
    --clr-neutral-900: hsl(0, 0%, 92%);
    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-accent-400: hsl(234, 100%, 50%);
    --background-dark: #2d3548;
    --text-light: rgba(255, 255, 255, 0.6);
    --text-lighter: rgba(255, 255, 255, 0.9);
    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 64px;
    --width-container: 1200px;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}

h4 {
    font-size: 1em
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Merriweather', serif;
}

body.course {
    min-height: 100vh;
    line-height: 1.6;
    font-family: monospace;
    justify-items: center;
}

h1 {
    color: rgb(0, 0, 0);
}

.wrapper-landing .media-icons {
    z-index: 888;
    position: absolute;
    right: 30px;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
    margin-top: 6rem;
}

.wrapper-landing .media-icons a {
    color: #FFEB66;
    font-size: 1.6em;
}

.wrapper-landing .media-icons a:not(last-child) {
    margin-bottom: 20px;
}

.wrapper-landing .media-icons a:hover {
    transform: scale(1.5);
}

.softwareh1 {
    color: #000;
}

.navbar {
    width: 100%;
    height: 0px;
    margin-left: 100px;
    background: transparent;
}

.navbar>ul {
    display: flex;
    justify-content: center;
}

.navbar ul li {
    position: relative;
}

.navbar ul li a {
    display: block;
    color: #fff;
    height: 60px;
    width: 200px;
    text-align: center;
    padding: 20px 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all 0.7s ease;
    font-weight: 700;
    font-size: 1.1rem;
}

.navbar ul>li a {
    margin-right: 1px;
}

.navbar ul>li:last-child a {
    margin-right: 0;
}

.navbar ul li a .icon {
    width: 25px;
    display: inline-block;
    color: #FFEB66;
}


.navbar ul li a:hover,
.navbar .dd_menu ul li a:hover {
    background: #1f1e1e36;
    border-radius: 3rem;
    color: #008be0;
}

.navbar .dd_menu ul li a.active,
.navbar ul li a.a_parent.active {
    color: #008be0;
    font-weight: 700;
    text-shadow: 2px 2px 3px black;
}

.navbar .dd_menu {
    position: absolute;
    top: 80px;
    left: 0;
    display: none;
}

.navbar .dd_menu ul li a {
    width: 180px;
    background: #1f1e1e36;
    text-align: left;
    padding: 20px;
}

.navbar .dd_menu:before {
    content: "";
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    border: 15px solid;
    border-color: transparent transparent #fff transparent;
}

.navbar ul li a.a_parent.active+.dd_menu {
    display: block;
}

.dd_submenu {
    position: absolute;
    top: 0;
    left: 115%;
    width: 100%;
    display: none;
}

.dd_submenu:before {
    content: "";
    position: absolute;
    top: 15px;
    left: -30px;
    z-index: 1;
    border: 15px solid;
    border-color: transparent #fff transparent transparent;
}

.navbar ul li a.dd_menu_a.active+.dd_submenu {
    display: block;
}

#section-landing {
    background: rgba(0, 0, 0, 0.5)url('../img/banner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    height: 100%;
    width: 100%;
}

.wrapper-landing {
    position: relative;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    top: 40%;
}

.animate-charcter {
    text-transform: uppercase;
    background-image: linear-gradient(-225deg, #fff 0%, #008be0 100%, #fff 0%, #008be0 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 7s linear infinite;
    font-size: 5rem;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

.wrapper-landing h2 {
    font-size: 2.625rem;
    color: #f2f2f2;
    opacity: 0.6;
    margin: 0;
    font-weight: 100;
}

.btn-login {
    border: 0.063rem solid #ffffff;
    padding: 0.375rem 1.5rem;
}

.sec-home {
    position: relative;
    padding: 100px;
    background: #008be0;
    justify-content: center;
    align-items: center;
}

#projects .projects {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}

#projects .projects-header h1 {
    margin-bottom: 10rem;
    text-align: center;
    font-weight: 700;
    font-size: 4rem;
    color: #fff;
    outline: #000;
}

#projects .all-projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#projects .project-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}

#projects .project-info {
    padding: 30px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    color: white;
    width: 100%;
    color: #fff;
    background: linear-gradient(-66deg, #008be0, rgba(255, 255, 255, 0.37), #0080BE, rgba(255, 255, 255, 0.219));
    position: relative;
    background-size: 300% 300%;
    animation: change 8s ease-in-out infinite;
    background-repeat: repeat-y;
}

@keyframes change {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#projects .project-info h1 {
    font-size: 3rem;
    font-weight: 700;
}

#projects .project-info h2 {
    font-size: 2rem;
    font-weight: 500;
    margin-top: 10px;
}

#projects .project-info p {
    color: white;
    font-size: 1rem;
}

#projects .project-img {
    flex-basis: 50%;
    width: 50%;
    height: 50%;
    overflow: hidden;
    position: relative;
}

#projects .project-img:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 50%;
    width: 50%;
}

#projects .project-img img {
    transition: 0.5s ease transform;
    width: 100%;
    height: 100%;
}

#projects .project-item:hover .project-img img {
    transform: scale(1.1);
}

#projects .project-item {
    flex-direction: row;
}

#projects .project-item:nth-child(even) {
    flex-direction: row-reverse;
}

#projects .project-item {
    height: 400px;
    margin: 0;
    width: 100%;
    border-radius: 0;
}

#projects .all-projects .project-info {
    height: 100%;
}

#projects .all-projects .project-img {
    height: 100%;
    width: 100%;
}

.sec-map {
    position: relative;
    padding: 100px;
    background: #00639C;
    justify-content: center;
    align-items: center;
    display: flex;
}

footer {
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    padding-top: 40px;
    color: #fff;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%;
}

.socials a i {
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}

.socials a:hover i {
    color: aqua;
}

.footer-bottom {
    background: #000;
    padding: 20px;
    padding-bottom: 40px;
    text-align: center;
}

.footer-bottom p {
    float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom p a {
    color: #44bae8;
    font-size: 16px;
    text-decoration: none;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

.footer-menu {
    float: right;
}

.footer-menu ul {
    display: flex;
}

.footer-menu ul li {
    padding-right: 10px;
    display: block;
}

.footer-menu ul li a {
    color: #cfd2d6;
    text-decoration: none;
}

.footer-menu ul li a:hover {
    color: #27bcda;
}

@media (max-width:500px) {
    .footer-menu ul {
        display: flex;
        margin-top: 10px;
        margin-bottom: 20px;
    }
}

iframe {
    border-radius: 30px;
    width: 100rem;
    height: 40rem;
}

.coursecard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    max-width: 35rem;
    text-align: center;
    margin: 5rem;
    border-radius: 1.5rem;
    padding: 3rem;
    background-color: #fff;
}

.coursecard:hover {
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.4);
    transform: scale(1.1);
}

.courserow {
    margin: 0 -5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.courserow::after {
    content: "";
    display: flex;
    clear: both;
}

.course.column {
    width: 25%;
    padding: 0 10px;
}

.button {
    cursor: pointer;
    display: inline;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(42, 52, 150);
    padding: 0.5em 1.25em;
    border-radius: 0.5em;
}

.button:hover,
.button:focus {
    background-color: rgb(42, 52, 150);
}

body.form {
    font: 14px sans-serif;
}

.wrapper-credentials {
    width: 30vw;
    padding: 1.5rem;
    margin-top: 7rem;
}

.welkom {
    padding: 1.5rem;
}

.projectcard-text {
    min-height: 8em;
}

section {
    width: 100%;
    height: auto;
    color: #fff;
    position: relative;
    background-size: 300% 300%;
    animation: change 4s ease-in-out infinite;
}

@keyframes change {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

h5.projectcard-title {
    color: black;
    font-size: 3rem;
    text-shadow: 1px 1px 2px black;
}

p.projectcard-text {
    color: rgb(0, 0, 0);
    text-shadow: 0 0 3px #ffffff, 0 0 3px #000000;
    font-size: 1.5rem;
}

.projectcard {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    background: rgb(203, 203, 209);
    margin-top: 1.5rem;
}

.projectheader {
    padding: 1%;
    text-align: center;
    background: #0080BE;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

h1.projecttext1 {
    color: white;
    text-shadow: rgb(0, 0, 0) 1px 0 5px;
    font-size: 4rem;
    font-style: monospace;
}

p.projecttext2 {
    color: ivory;
    text-shadow: 1px 1px 2px black;
    font-size: 3rem;
}

#projectcontainer-header {
    width: 100%;
    position: relative;
    overflow: hidden;
}

@keyframes anim9 {
    from {
        right: -100%;
    }

    to {
        right: 0%;
    }
}

#projectcontainer-box {
    position: relative;
    left: -100%;
    animation: anim3 1s forwards 0.5s;
    font-family: monospace;
    overflow: hidden;
}

@keyframes anim3 {
    form {
        left: -100%;
    }

    to {
        left: 0%
    }
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.typing-demo {
    width: 52ch;
    animation: typing 5s steps(40), blink .10s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 1px solid;
    font-family: monospace;
    font-size: 2em;
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

.about_dev {
    margin-top: 5rem;
}



.course-background {
    background: linear-gradient(-45deg, #fff, #00639C);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    width: 100%;
    padding: 0;
    margin: 0;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.hero-section {
    align-items: flex-start;
    background-image: linear-gradient(15deg, #0f4667 0%, #2a6973 150%);
    display: flex;
    min-height: 100%;
    justify-content: center;
    padding: var(--spacing-xxl) var(--spacing-l);
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: var(--spacing-l);
    grid-row-gap: var(--spacing-l);
    max-width: var(--width-container);
    width: 100%;
}

@media(min-width: 540px) {
    .card-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width: 960px) {
    .card-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

.card {
    list-style: none;
    position: relative;
}

.card:before {
    content: '';
    display: block;
    padding-bottom: 150%;
    width: 100%;
}

.card__background {
    background-size: cover;
    background-position: center;
    border-radius: var(--spacing-l);
    bottom: 0;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
    transform: scale(1) translateZ(0);
    transition:
        filter 200ms linear,
        transform 200ms linear;
}

.card:hover .card__background {
    transform: scale(1.05) translateZ(0);
}

.card-grid:hover>.card:not(:hover) .card__background {
    filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card__content {
    left: 0;
    padding: var(--spacing-l);
    position: absolute;
    top: 0;
}

.card__category {
    color: var(--text-light);
    font-size: 0.9rem;
    margin-bottom: var(--spacing-s);
    text-transform: uppercase;
}

.card__heading {
    color: var(--text-lighter);
    font-size: 1.9rem;
    text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
    line-height: 1.4;
    word-spacing: 100vw;
}

.software-dev {
    margin-top: 10rem;
}

.button-70 {
    background-image: linear-gradient(#0dccea, #0d70ea);
    border: 0;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: Montserrat, sans-serif;
    font-size: .9em;
    margin: 5px;
    padding: 10px 15px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-top: 9rem;
}

.button-24 {
    background: #0d70ea;
    border: 1px solid #0d70ea;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

.button-24:hover,
.button-24:active {
    background-color: initial;
    background-position: 0 0;
    color: #fff;
}

.button-24:active {
    opacity: .5;
}

table {
    padding-top: 6.5rem;
}

.button-69 {
    background-color: #008be0;
    border-radius: 10px;
    border-style: none;
    box-shadow: rgba(245, 244, 247, .25) 0 1px 1px inset;
    color: #FFDD00;
    cursor: pointer;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 700;
    height: 60px;
    line-height: 60px;
    margin-left: -4px;
    outline: 0;
    text-align: center;
    transition: all 0.9s ease;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: bottom;
    width: 325px;
    margin-top: 3rem;
}

.button-69:hover {
    background-color: #1f1e1e36;
    font-size: 1.3rem;
}

@media screen and (max-width: 1000px) {
    .button-69 {
        font-size: 14px;
        height: 55px;
        line-height: 55px;
        width: 150px;
    }
}

.contact-bg {
    background: rgba(0, 0, 0, 0.5)url('../img/banner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    height: 100%;
    width: 100%;
}